<header>

  <div class="wrapper">
  
    <h1><a href="/" class="homelink"><span></span>CocoaHeads Boston</a></h1>

	<div id="navouter">
		<div id="navmiddle">
			<div id="navinner">
				<a href="/meeting-notes/" {% if (page.ismeetingnotes) %} class="current" {% endif %}>Meeting Notes</a>
				<a href="/code-of-conduct/" {% if (page.iscodeofconduct) %} class="current" {% endif %}>Code of Conduct</a>
				<a href="/news/" {% if (page.isnews) %} class="current" {% endif %}>News</a>
			</div>
		</div>
    </nav>

  </div>

</header>
